on early-init
    # start fota
    exec /sbin/fotainit

on early-fs
    # Get potential ram dump from cache partition before it's needed
    # by the system.
    exec /sbin/grabramdump

on post-fs
    mkdir /data/idd 0755 idd idd
    chown idd idd /data/idd
    chmod 0755 /data/idd

    # Remount system as rw for things to come...
    mount yaffs2 mtd@system /system rw remount

    # Mount appslog as rw on /system/vendor
    mkdir /system/vendor 0755 root shell
    #mount yaffs2 mtd@appslog /system/vendor
    chown root shell /system/vendor
    chmod 0755 /system/vendor

    # Re-mount as read-only
    #mount yaffs2 mtd@appslog /system/vendor rw remount
    #mount yaffs2 mtd@system /system rw remount

on early-boot
    # Start the offline charging (This blocks booting further in some cases)
    exec /system/bin/chargemon

on init
    # start master reset
    exec /sbin/mr

    # Check if flash was aborted
    exec /sbin/checkabortedflash

on boot
    

    # QMUD / QMI keeps its sockets in here
    mkdir /data/radio 0770 radio radio

    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    
    chown dhcp system /data/misc/dhcp

    mkdir /data/tombstones 0755 system system
    mkdir /data/crashsms 0711 system system
    mkdir /data/crashsms/crashes 0755 system system

    # bluetooth power up/down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660                /sys/class/rfkill/rfkill0/state

    # bluetooth MAC address programming
    chown bluetooth bluetooth /proc/bt_mac_addr		# is this necessary?
    setprop ro.bt.bdaddr_path /proc/bt_mac_addr

    # Permissions for Liblights.
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/trigger
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/trigger
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/trigger
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/als/enable

    # enable the GPS
    setprop ro.ril.def.agps.mode 2

    # performance tweaks for flash
    write /sys/block/mtdblock1/bdi/read_ahead_kb 4
    write /sys/block/mtdblock2/bdi/read_ahead_kb 4
    write /sys/block/mtdblock3/bdi/read_ahead_kb 4

    # Wakelock debug
    write /sys/module/wakelock/parameters/debug_mask 7

    # Better power-management & improve boot time
     write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor smartass2
#    write /sys/devices/system/cpu/cpu0/cpufreq/intellidemand/up_threshold 90
#    write /sys/devices/system/cpu/cpu0/cpufreq/intellidemand/sampling_rate 20000
     write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 249600
     write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1017600
#    write /sys/devices/system/cpu/cpufreq/intellidemand/io_is_busy 1

    # Fix permissions for KGSL
    chmod 0666                /dev/kgsl-2d0
    chmod 0666                /dev/kgsl-3d0

    # Fix permissions for Audio
    chmod 0666	      /dev/snd/timer
    chmod 0666	      /dev/snd/controlC0
    chmod 0666	      /dev/snd/pcmC0D0c
    chmod 0666	      /dev/snd/pcmC0D0p

    # Fix permissions for bma150 (accelerometer)
    chown system system /sys/devices/i2c-0/0-0038/rate
    chown system system /sys/devices/i2c-4/4-0038/rate

    # Create the directories and files expected by the lcatp service
    # only found in eng builds.
    # Preferably the ONLY_IN_VARIANT macro should be used but
    # seems like the build system does not parse this file properly.
    mkdir /data/misc/tsce 0770 system system
    write /data/misc/tsce/userfile.txt 0
    write /data/misc/tsce/userfile2.txt 0
    write /data/misc/tsce/logfile.txt 0
    chown system system /data/misc/tsce/userfile.txt
    chown system system /data/misc/tsce/userfile2.txt
    chown system system /data/misc/tsce/logfile.txt
    chmod 0660 /data/misc/tsce/userfile.txt
    chmod 0660 /data/misc/tsce/userfile2.txt
    chmod 0660 /data/misc/tsce/logfile.txt
    
    

    chmod 0666 /dev/mtp

exec /system/bin/usbeng

    # usb fixes
    mkdir /dev/bus 0771 system system
    mkdir /dev/bus/usb 0771 system system
    chmod 0660 /sys/devices/platform/msm_hsusb/gadget/lun1/file
    chown usb usb /sys/devices/platform/msm_hsusb/gadget/lun1/file

    # Default tcp buffersizes for hsdpa
    setprop net.tcp.buffersize.hsdpa 5840,87380,165467,4096,16384,110208
    setprop net.tcp.buffersize.hspa 5840,87380,165467,4096,16384,110208

service nvcustomizer /system/bin/nvcustomizer
    user root
    oneshot

# Copy calibration data from NV to kernel drivers
service nvimport /system/bin/nvimport
    user root
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -Dwext -ieth0 -c/data/misc/wifi/wpa_supplicant.conf
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    socket wpa_eth0 dgram 660 wifi wifi
    disabled
    oneshot


service dhcpcd /system/bin/dhcpcd -BK -t 30
disabled
oneshot 

service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm \
    --baudrate 3000000 --patchram /system/etc/firmware/bcm4329.hcd /dev/ttyHS0 \
    user bluetooth
    group bluetooth net_bt_admin
    disabled

# Set the startup flag to boot complete, run on property change
service setssflagbc /system/bin/startupflag bootcomplete
    user root
    oneshot
    disabled

# AT+CTSA and AT+CKPD support
service atfwd-daemon /system/bin/atfwd-daemon
    user root
    disabled

on property:persist.kernel.log=logcat
   stop klogrouterd
   start klogrouterd

on property:persist.kernel.log=uart
   stop klogrouterd
   exec /system/bin/klogrouter uart

on property:persist.kernel.log=default
   stop klogrouterd
   exec /system/bin/klogrouter default

service klogrouterd /system/bin/klogrouter logcat
    oneshot

on property:dev.bootcomplete=1
   start setssflagbc
   start atfwd-daemon

service updatemiscta /system/bin/updatemiscta
    user root
    oneshot

service iddd /system/bin/iddd
    user idd
    group idd log

# bugreport is triggered by the KEY_VOLUMEUP and BTN_TR keycodes
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    disabled
    oneshot
    keycodes 115 311

service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyGS0 &
    disabled
    oneshot

# Local Connectivity service only present in engineer builds
# Preferably the ONLY_IN_VARIANT macro should be used but
# seems like the build system does not parse this file properly.
service lcatp /system/bin/lcatp
    disabled
    oneshot

service qmuxd /system/bin/qmuxd

service akmd8975 /system/bin/akmd8975

service mltlusbd /system/bin/mltlusbd

# Slider counter service is used to count the number of times
# the keypad has been opened or closed.  The result is written
# in MiscTA memory.
service slidercounter /system/bin/slidercounter keypad-zeus

service hw_config /system/bin/sh /system/etc/hw_config.sh
    user root
    oneshot

service lidswitchd /system/bin/lidswitchd

service utsd /system/bin/utsd

# DRM key activation
service suntrolkac /system/bin/suntrolkac
    user root
    oneshot


on property:persist.service.adb.enable=1
    exec /init.usbmode.sh

on property:persist.service.adb.enable=0
    exec /init.usbmode.sh

on property:persist.usb.eng=1
    exec /init.usbmode.sh

on property:persist.usb.eng=0
    exec /init.usbmode.sh

on property:usb.rndis.enable=1
    exec /init.usbmode.sh

on property:usb.rndis.enable=0
    exec /init.usbmode.sh





on property:persist.usb.storagemode=msc
    exec /init.usbmode.sh

on property:persist.usb.storagemode=mtp
    exec /init.usbmode.sh

on property:usb.pcc.enable=1
    exec /init.usbmode.sh

on property:usb.pcc.enable=0
    exec /init.usbmode.sh

on property:usb.accessory.enable=0
    exec /init.usbmode.sh

# Net mgr
service netmgrd /system/bin/netmgrd -E

# ro.hsdpa_cat set by nvimport
on property:ro.hsdpa_cat=8
    setprop net.tcp.buffersize.hsdpa 5840,87380,165467,4096,16384,110208
    setprop net.tcp.buffersize.hspa 5840,87380,165467,4096,16384,110208
on property:ro.hsdpa_cat=10
    setprop net.tcp.buffersize.hsdpa 5840,87380,276427,4096,16384,110208
    setprop net.tcp.buffersize.hspa 5840,87380,276427,4096,16384,110208

on property:ro.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop netmgrd

service media /system/bin/mediaserver
    user media
    group system audio camera graphics inet net_bt net_bt_admin net_raw radio
    ioprio rt 4
